<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/styles.css">
  <meta charset="UTF-8">
  <title>Work Wiki</title>
</head>
<body>
  <nav>
    <a href='/'>Home</a>
    <a href="/article/new">Create New Article</a>
    <a href="/sign-up">Sign Up</a>
  </nav>
  <div id="body">
    <h1>{{title}}</h1>
    <div>
      <p><span class="bold">Date Made:</span> {{date_made}}</p>
    </div>
    {{#changelog}}
    <a href="/articles/{{title}}/changelog/{{date_update}}">
      <div class="articles">
        <span class="title">{{title}}</span>
        <span class="author">{{date_made}} - {{first_name_editor}}
        {{last_name_editor}}</span>
      </div>
    </a>
    {{/changelog}}
  </div>
</body>
</html>