<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/styles.css">
	<meta charset="UTF-8">
	<title>Work Wiki</title>
</head>
<body>
<nav>
  <a href='/'>Home</a>
  <a href="/article/new">Create New Article</a>
  <a href="/sign-up">Sign Up</a>
</nav>
<div id="body">
<h1>Welcome to Work Wiki</h1>
<form action="/search" method="GET">
  <input name="search" type="text" placeholder="Search">
  <button type="submit"> submit </button>
</form>
  {{#allArticles}}
  <a href="/articles/{{title}}">
    <div class="articles">
      <span class="title">{{title}}</span>
      <span class="author">{{date_made}} - {{first_name_author}}
      {{last_name_author}}</span>
    </div>
  </a>
  {{/allArticles}}
</div>
</body>
</html>