<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/styles.css">
	<meta charset="UTF-8">
	<title>Work Wiki</title>
</head>
<body>
  <h1>Welcome to Work Wiki</h1>
  <a href="/article/new">Create New Article</a>
  <a href="/sign-up">First time here? Sign Up!</a>
  {{#allArticles}}
  <a href="/{{title}}">
    <div class="articles">
      <span>{{first_name_author}}
      {{last_name}}</span>
      <span>{{title}}
      {{date_made}}</span>
    </div>
  </a>
  {{/allArticles}}
</body>
</html>