<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/styles.css">
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
{{category}}
<a href='/'>Home</a> <a href='/{{title}}/changelog'>Changelog</a>
<div id="author">Author: {{first_name_author}} {{last_name_author}} Date Made: {{date_made}}</div>
<div id="date">Editor: {{first_name_editor}} {{last_name_editor}} | Last Update {{date_update}}</div>
<p>{{content}}</p>
<a href="/{{title}}/edit">Edit</a>
</body>
</html>